.rdc {
  margin-left: -15px;
  height: auto;
  width: 115%;
  border: 1px solid #f5b04d;
  background-color: #ffdfac;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}

.main-container {
  height: auto;
  padding: 15px 20px;
}

.dropdown {
  display: inline-block;
}

::-webkit-datetime-edit {
  padding: 4px;
}

.date {
  position: relative;
  top: 2px;
}
.getRoute {
  margin-left: 180px;
}
select.selectpicker {
  display: inline-block;
  margin: 0 auto;
  padding-left: 20px;
  padding: 7px 7px;
  border-radius: 5px;
  outline: none;
  border: none;
  
}
.btn-new {
  background-color: rgb(255, 229, 32);
}
input {
  margin-right: 10px;
  margin-left: 35px;
}

.margin-left {
  margin-left: 200px;
}
